@page
@model MusicPlayer.Pages.Songs.IndexModel

@{
    ViewData["Title"] = "Song catalog";
}

<h1>Song catalog</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Song) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                <audio id="audio" controls>
                        <source src="..\SongFiles\HeatWaves.mp3" type="audio/mp3">
                </audio>
            </td>
            <td>
                <a asp-page="../PlaylistsDetails/Create" asp-route-id="@item.Id">Add to new playlist</a>
                    <!-- <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | 
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
